<div class="formularioGeneral">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Formulario</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="formularioDinamico" class="formularioComponent" (ngSubmit)="onSubmit()">
        <ng-container *ngFor="let entidad of entidadOject">
          <div *ngIf="entidad.propiedad !== 'id'  && isCampoVisible(entidad.propiedad,entidad.tipo) " >
            <!-- Campo de texto, email o contraseña -->
            <ng-container *ngIf="entidad.tipo === 'text' || entidad.tipo === 'email' || entidad.tipo === 'password'">
              <mat-form-field appearance="outline">
                <mat-label>{{ entidad.propiedad | titlecase }}</mat-label>
                <input
                  matInput
                  [type]="entidad.tipo"
                  [formControlName]="entidad.propiedad"
                  [placeholder]="'Introduce ' + entidad.propiedad"/>
              </mat-form-field>
            </ng-container>

            <!-- Campo de fecha -->
            <ng-container *ngIf="entidad.tipo === 'date'">
              <mat-form-field appearance="outline">
                <mat-label>{{ entidad.propiedad | titlecase }}</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  [formControlName]="entidad.propiedad"
                  [placeholder]="'Introduce ' + entidad.propiedad"/>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </ng-container>

            <!-- Campo de selección -->
            <ng-container *ngIf="entidad.tipo === 'select' ">
              <mat-form-field appearance="outline">
                <mat-label>{{ entidad.propiedad | titlecase }}</mat-label>
                <mat-select [formControlName]="entidad.propiedad">
                  <mat-option *ngFor="let option of getOptionsForSelect(entidad.propiedad)" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
          </div>
        </ng-container>
        <button mat-raised-button color="primary" type="submit">Enviar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
