.formularioGeneral {
  mat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
    background-color: rgba(212, 228, 233, 0.708);

    mat-card-header {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .formularioComponent {
      display: flex;
      flex-direction: column;
      justify-content: center;

      padding: 1rem;

      mat-form-field{

        width: 100%;
      }
    }
  }
}
