<div class="reservasComponent">
  <button mat-button class="atras-button" (click)="handleClickAtras($event)">
    Atrás
  </button>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <span class="deporte-text">Deporte: {{deporteId}}</span>
    </mat-expansion-panel-header>

    <div class="cosas">
      <mat-card>
        <mat-card-content>
          <mat-grid-list cols="{{ pistas.length + 1 }}" rowHeight="100px">
            <mat-grid-tile></mat-grid-tile> <!-- Espacio para el encabezado de la columna -->

            <!-- Encabezados de Pistas -->
            <mat-grid-tile *ngFor="let recinto of pistas">
              <div class="header">{{ recinto }}</div>
            </mat-grid-tile>

        
            <ng-container *ngFor="let time of times">
              <mat-grid-tile>
                <div class="header">{{ time }}</div>
              </mat-grid-tile>

              <ng-container *ngFor="let recinto of pistas">
                <mat-grid-tile class="caja">
                  <div
                    [ngClass]="{
                      reservado: getReserva(time, recinto),
                      libre: !getReserva(time, recinto)
                    }"
                    (click)="reserva(time, recinto, getReserva(time, recinto))">
                    {{ getReserva(time, recinto) ? "Ocupado" : "Libre" }}
                  </div>
                </mat-grid-tile>
              </ng-container>

              <mat-divider></mat-divider>
            </ng-container>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-expansion-panel>
</div>
