.form-dim-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 2000px;
  width: 550px;
  overflow: hidden;
  /* Evita que el contenido se salga */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  // background-color: #9d9d9d;
  box-sizing: border-box;
  padding-right: 2.5rem;

  .formulario-dinamico {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;

    width: 100%;
    /* Ocupa todo el ancho del contenedor */
    max-width: 1200px;
    /* Ancho máximo */
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    // box-sizing: border-box;
    /* Incluye paddings en el ancho total */
    overflow: hidden;
    /* Evita desbordamientos */
  }

  .titulo-formulario {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
  }

  .mat-form-field {
    width: 100%;
    box-sizing: border-box;
    margin:0;
    /* Incluye paddings y bordes en el ancho */
  }

  .input-field {

    width: 100%; /* Asegura que el input ocupe todo el ancho del contenedor */
    font-size: 16px; /* Ajusta el tamaño del texto */
  }

  .input-field:focus {
    border-color: #007bff;
  }

  .mat-label {
    font-size: 16px;
    font-weight: 500;
    color: #555;
  }

  .error-message {
    color: #e74c3c;
    font-size: 12px;
    // margin-top: 1px;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
  }

  .submit-btn {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    /* Asegura que el botón sea del mismo ancho que los campos */
    transition: background-color 0.3s;
  }

  .submit-btn:hover {
    background-color: #0056b3;
  }

  .submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

}


@media screen and (max-width: 768px) {
  .form-dim-container {
    padding: 0.5rem;
    /* Reduce el padding en dispositivos pequeños */
  }

  .formulario-dinamico {
    max-width: 100%;
    /* Usa todo el ancho disponible */
    padding: 1rem;
    /* Ajusta el espacio interno */
  }

  .submit-btn {
    font-size: 14px;
    /* Botón más pequeño */
    padding: 10px 20px;
  }
}


ngx-mat-timepicker {
  z-index: 1000; /* Asegura que se superponga correctamente */
}

ngx-mat-timepicker-overlay {
  width: auto;
  max-width: 400px; /* Ajusta el tamaño según lo que necesites */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

ngx-mat-timepicker-content {
  padding: 1rem;
}

ngx-mat-timepicker-button {
  background-color: #007bff;
  color: white;
  border-radius: 50%;
}