<nav class="navbar" *ngIf="isLoggedIn">
  <ul class="navbar-list">
    <li class="navbar-item" [ngClass]="{ active: isActiveRoute('/') }">
      <button mat-button [routerLink]="['/']">
        <mat-icon>home</mat-icon>
        Inicio
      </button>
    </li>

    <li class="navbar-item" [ngClass]="{ active: isActiveRoute('/ejemplos') }">
      <button mat-button [matMenuTriggerFor]="examplesMenu">Ejemplos</button>
      <mat-menu #examplesMenu="matMenu">
        <button mat-menu-item [routerLink]="['/ejemplos/formulario']">
          Ejemplo Formulario
        </button>
      </mat-menu>
    </li>

    <li class="navbar-item" [ngClass]="{ active: isActiveRoute('/perfil') }">
      <button mat-button [routerLink]="['/perfil']">
        <mat-icon matSuffix>person</mat-icon>
        Perfil</button>
    </li>

    <li class="navbar-item" [ngClass]="{ active: isActiveRoute('/usuarios') }">
      <button mat-button [routerLink]="['/usuarios']">Usuarios</button>
    </li>

    <li class="navbar-item" [ngClass]="{ active: isActiveRoute('/cursos') }">
      <button mat-button [routerLink]="['/cursos']">Cursos</button>
    </li>

    <li class="navbar-item" [ngClass]="{ active: isActiveRoute('/elegir-deporte') }">
      <button mat-button [routerLink]="['/elegir-deporte']">
        <mat-icon matSuffix>sports_baseball</mat-icon>
        Seleccionar Deporte
      </button>
    </li>

    <li class="navbar-item">
      
      <button mat-button (click)="onCerrarSesion()">
        <mat-icon matSuffix>logout</mat-icon>
        Cerrar Sesión
      </button>
    </li>
  </ul>
</nav>
