<nav class="navbar" *ngIf="isLoggedIn">
  <ul class="navbar-list">
    <li class="navbar-item" [ngClass]="{ active: isActiveRoute('/') }">
      <button mat-button [routerLink]="['/']">
        <mat-icon>home</mat-icon>
        Inicio
      </button>
    </li>

    <li class="navbar-item" [ngClass]="{ active: isActiveRoute('/perfil') }">
      <button mat-button [routerLink]="['/perfil']">
        <mat-icon matSuffix>account_circle</mat-icon>
        Perfil</button>
    </li>

    <ng-container *ngIf="this.usuario.tipo_usuario === 'trabajador' ">

      <li class="navbar-item" [ngClass]="{ active: isActiveRoute('/usuarios') }">
        <button mat-button [routerLink]="['/usuarios']">
          <mat-icon matSuffix>group</mat-icon>
          Usuarios</button>
      </li>

    </ng-container>

    <li class="navbar-item" [ngClass]="{ active: isActiveRoute('/eventos') }">
      <button mat-button [routerLink]="['/eventos']">
        <mat-icon matSuffix>emoji_events</mat-icon>
        Eventos</button>
    </li>

    <li class="navbar-item" [ngClass]="{ active: isActiveRoute('/cursos') }">
      <button mat-button [routerLink]="['/cursos']">
        <mat-icon matSuffix>school</mat-icon>
        Cursos</button>
    </li>

    <li class="navbar-item" [ngClass]="{ active: isActiveRoute('/elegir-deporte') }">
      <button mat-button [routerLink]="['/elegir-deporte']">
        <mat-icon matSuffix>sports_baseball</mat-icon>
        Reserva de Espacios
      </button>
    </li>

    <li class="navbar-item">

      <button mat-button (click)="onCerrarSesion()">
        <mat-icon matSuffix>logout</mat-icon>
        Cerrar Sesión
      </button>
    </li>
  </ul>
</nav>