<div class="cursos-container">
  <mat-card *ngFor="let curso of cursos" class="curso-card" appearance="outlined">

    <mat-card-header>
      <div mat-card-avatar class="curso-avatar">
        <mat-icon color="primary">{{curso.icono}}</mat-icon>
      </div>
      <mat-card-title>{{ curso.nombre }}</mat-card-title>
      <mat-card-subtitle>Plazas disponibles: {{ curso.plazas }}</mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>
      <p>Deporte : {{ curso.deporte }}</p>
      {{curso.informacion | slice:0:150}}<span *ngIf="curso.informacion?.length">[...]</span>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="btn-apuntarse" (click)="apuntarseCurso(curso.id)">

        <mat-icon matSuffix>person_add</mat-icon>
        Apuntarse</button>
    </mat-card-actions>
  </mat-card>
</div>