<div class="seleccion-deporte">
  <mat-card>
    <mat-card-title>Deportes Disponibles</mat-card-title>
    <mat-card-content>
      <div class="grid-container">
        <div *ngFor="let deporte of getPaginatedDeportes()" (click)="accesoReserva(deporte)" class="grid-tile">
          <div class="contenido">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="{{ deporte.icon }}"></mat-icon>
            <span>{{ deporte.nombre }}</span>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <mat-paginator [length]="deportes.length"
                     [pageSize]="pageSize" 
                     [pageSizeOptions]="[6, 12, 20]" 
                     (page)="handlePageEvent($event)" 
                     showFirstLastButtons 
                     aria-label="Select page of sports">
      </mat-paginator>
    </mat-card-footer>
  </mat-card>
</div>
