<div class="tabla-component">

  <div class="header">
    <h1 class="titulo">Administración de {{this.entidadFormat}}</h1>
    <div class="seccion-acciones">
     
      <ng-container>
        <button
          mat-raised-button
          color="primary"
          class="add-contacto"
          (click)="nuevoRegistro()">
          <mat-icon>add</mat-icon>
  
          Añadir nuevo {{ this.singEntity }}
        </button>
      </ng-container>
    </div>

  </div>

  <div class="contenedorTablaContactos">
    <mat-form-field class="filtro-tabla">
      <mat-label>Filtro</mat-label>
      <input
        matInput
        (keyup)="aplicarFiltro($event)"
        placeholder="Introduce para buscar algo en la tabla...."
        #input/>
    </mat-form-field>

    <div class="tabla-crud">
      <table mat-table [dataSource]="datasource" class="tablaContactos">
        <!-- Columnas dinámicas (sin la columna de acciones) -->
        <ng-container *ngFor="let columna of columnas" [matColumnDef]="columna">
          <th mat-header-cell *matHeaderCellDef>{{ columna | titlecase }}</th>
          <td mat-cell *matCellDef="let element">{{ element[columna] }}</td>
        </ng-container>

        <!-- Columna de acciones -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="tdAcciones">Acciones</th>
          <td mat-cell *matCellDef="let element">
            <div class="botones-accion">
              <button
                mat-icon-button
                class="icon-delete"
                (click)="eliminarRegistro(element)">
                <mat-icon>delete</mat-icon>
              </button>

              <button
                mat-icon-button
                class="icon-read"
                (click)="detalleEntidad(element, false)">
                <mat-icon class="mat-19">visibility</mat-icon>
              </button>

              <button
                mat-icon-button
                class="icon-edit"
                (click)="detalleEntidad(element, true)">
                <mat-icon class="mat-19">edit</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <!-- Fila para mostrar un mensaje cuando no hay datos -->
        <tr class="mat-row" *ngIf="!datasource || datasource.data.length === 0">
          <td class="mat-cell" [attr.colspan]="columnas.length + 1">
            No hay datos disponibles para mostrar
          </td>
        </tr>

        <!-- Encabezado y filas de la tabla-->
        <tr mat-header-row *matHeaderRowDef="columnas.concat('acciones')"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: columnas.concat('acciones')"
        ></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
</div>
