<!-- app.component.html -->
<!-- Contenido para cuando no está autenticado -->
<div *ngIf="!isLoggedIn">
  <app-login (loginSuccess)="autenticado()"></app-login>
</div>

<!-- Contenido para cuando está autenticado -->
<div *ngIf="isLoggedIn" class="app-container">
  <div class="header">
    <app-menu (cerrarSesionEvent)="onCerrarSesion()"></app-menu>
    <app-spiner-carga></app-spiner-carga>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet> <!-- Aquí se renderizarán las rutas -->
  </div>
</div>
