.panel-component {



    /* Estilos para la tabla */
    .mat-table {
        width: 100%;
        border: 0.075rem solid black;
        background-color: #f9f9f9;
        /* Fondo para la tabla */



        .header {
            color: white;
            font-weight: bolder;
            text-align: left;
            font-size: 14px;
            padding: 4px 8px;
            background-color: rgb(61, 60, 60);
        }

        .fila-tabla {

            text-align: left;
        }

        .fila-tabla:nth-child(odd) {
            background-color: #f2f2f2;
        }

        .fila-tabla:nth-child(even) {
            background-color: #ffffff;
        }
    }

    /* Estilos para las celdas del encabezado */
    // mat-header-cell {
    //     background-color: #4CAF50; /* Fondo verde para la cabecera */
    //     color: white;               /* Texto blanco en el encabezado */
    //     font-weight: bold;          /* Negrita para el texto del encabezado */
    //     text-align: left;           /* Alineación del texto a la izquierda */
    //     padding: 10px 16px;         /* Espaciado del texto */
    //     font-size: 16px;            /* Tamaño de fuente más grande */
    //     border-bottom: 3px solid #388E3C; /* Borde inferior para resaltar */
    // }


    .mat-header-cell:hover {
        background-color: #388E3C;
        cursor: pointer;
    }

    /* Estilos para las celdas del cuerpo */
    // .mat-cell {
    //     padding: 8px 16px;
    // }

    /* Color de fondo alterno para las filas impares */
    .mat-row:nth-child(odd) {
        background-color: #f2f2f2;
        /* Color de fondo para las filas impares */
    }

    /* Color de fondo para las filas pares */
    .mat-row:nth-child(even) {
        background-color: #ffffff;
        /* Color de fondo para las filas pares */
    }

    /* Estilo para el contenedor de la tabla */
    .table-container {
        margin: 20px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    }

    mat-paginator {
        margin-top: 10px;
    }

    /* Estilos para los estados */
    .estado-activo,
    .estado-vencido {

        color: white;
        border-radius: 20px;
        font-weight: bold;
        font-size: 0.75rem;
        padding: 0.25rem 0.75rem;
        // /* Espaciado dentro de la etiqueta */
        display: inline-block;
        /* Asegura que se vea como un bloque en línea */
        text-align: center;
        /* Alinea el texto en el centro */

    }



    .estado-activo {
        background-color: green;

    }

    .estado-vencido {
        background-color: #d32f2f;

    }

}