.event-container {
    background-color: #f0f4ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    padding-bottom: 30px;
    margin-bottom: 40px; 
  }
  
  .event-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .event-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 600px;
    overflow-y: auto;
  }
  
  .event-card {
    background-color: #ffffff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
    align-items: flex-start;
  }
  
  .event-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .event-description {
    font-size: 16px;
    color: #555;
    text-align: left;
  }
  
  .inscribe-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
  
    .inscribe-button,
    .delete-button,
    .edit-button {
      width: 100%;
      padding: 8px 16px;
      font-size: 14px;
      color: white;
      border-radius: 4px;
    }

    .inscribe-button{
        background-color: #0099ff;
    
        &:hover {
          background-color: #0062ff;
        }
      }
  
    .delete-button {
      background-color: #a72828;
  
      &:hover {
        background-color: #882121;
      }
    }
  
    .edit-button {
      background-color: #28a745;
  
      &:hover {
        background-color: #218838;
      }
    }
  }
  
  .add-event-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .add-evento {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  
    &:hover {
      background-color: #218838;
    }
  }
  
  @media (max-width: 768px) {
    .event-card {
      grid-template-columns: 1fr;
    }
  }
  